<div class="figure">
    <div class="figure__circles">
        <div class="figure__item circle circle_big"></div>
        <div class="figure__item circle circle_small"></div>
    </div>
    <div class="figure__triangles">
        <div class="figure__item triangle triangle_gray">
            <svg width="132" height="80" viewBox="0 0 132 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_bi_794_460)">
                <path d="M67.9608 78.8022C66.7626 80.2142 64.5839 80.2142 63.3858 78.8022L0.85738 5.1119C-0.796365 3.16295 0.588827 0.170909 3.14486 0.170909L128.202 0.17092C130.758 0.17092 132.143 3.16296 130.489 5.11191L67.9608 78.8022Z" fill="#C4C4C4" fill-opacity="0.2"/>
                </g>
                <defs>
                <filter id="filter0_bi_794_460" x="-21.8613" y="-21.8291" width="175.068" height="123.69" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feGaussianBlur in="BackgroundImage" stdDeviation="11"/>
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_794_460"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_794_460" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0"/>
                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_794_460"/>
                </filter>
                </defs>
                </svg>
                
        </div>
        <div class="figure__item triangle triangle_gray">
            <svg width="128" height="79" viewBox="0 0 128 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_bi_794_461)">
                <path d="M61.334 1.87623C62.5321 0.464221 64.7108 0.46422 65.9089 1.87623L126.48 73.26C128.134 75.2089 126.749 78.201 124.193 78.201H3.0502C0.494167 78.201 -0.891029 75.2089 0.762716 73.26L61.334 1.87623Z" fill="#C4C4C4" fill-opacity="0.2"/>
                </g>
                <defs>
                <filter id="filter0_bi_794_461" x="-21.9551" y="-21.1828" width="171.154" height="121.384" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feGaussianBlur in="BackgroundImage" stdDeviation="11"/>
                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_794_461"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_794_461" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0"/>
                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_794_461"/>
                </filter>
                </defs>
                </svg>                
        </div>
        <div>
            <div class="figure__item triangle">
                <svg width="125" height="77" viewBox="0 0 125 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M59.8615 2.02861C61.0595 0.619182 63.2351 0.619179 64.4331 2.02861L123.56 71.5904C125.216 73.5389 123.831 76.5334 121.274 76.5334H3.02059C0.463364 76.5334 -0.921413 73.5389 0.734756 71.5904L59.8615 2.02861Z" fill="#505AEF"/>
                    <path d="M59.8615 2.02861C61.0595 0.619182 63.2351 0.619179 64.4331 2.02861L123.56 71.5904C125.216 73.5389 123.831 76.5334 121.274 76.5334H3.02059C0.463364 76.5334 -0.921413 73.5389 0.734756 71.5904L59.8615 2.02861Z" fill="url(#paint0_linear_794_458)"/>
                    <defs>
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blurred" />
                    <linearGradient id="paint0_linear_794_458" x1="-174.86" y1="89.5579" x2="-140.809" y2="-107.23" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#505AEF"/>
                    <stop offset="1" stop-color="#9852B6"/>
                    </linearGradient>
                    </defs>
                    </svg>
                     
            </div>
            <div class="figure__item triangle triangle_small">
                <svg width="94" height="58" viewBox="0 0 94 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.1946 56.6778C47.997 58.0805 45.8292 58.0805 44.6316 56.6778L0.951562 5.51993C-0.710975 3.57277 0.672702 0.571916 3.23306 0.571916L90.5932 0.571908C93.1535 0.571908 94.5372 3.57276 92.8747 5.51992L49.1946 56.6778Z" fill="#505AEF"/>
                    <path d="M49.1946 56.6778C47.997 58.0805 45.8292 58.0805 44.6316 56.6778L0.951562 5.51993C-0.710975 3.57277 0.672702 0.571916 3.23306 0.571916L90.5932 0.571908C93.1535 0.571908 94.5372 3.57276 92.8747 5.51992L49.1946 56.6778Z" fill="url(#paint0_linear_794_457)"/>
                    <defs>
                    <linearGradient id="paint0_linear_794_457" x1="228.193" y1="-9.34538" x2="202.376" y2="140.534" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#505AEF"/>
                    <stop offset="1" stop-color="#9852B6"/>
                    </linearGradient>
                    </defs>
                    </svg>                    
            </div>
            <div class="figure__item triangle">
                <svg width="126" height="77" viewBox="0 0 126 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M65.1659 2.0286C63.9679 0.619175 61.7922 0.619173 60.5942 2.0286L1.4675 71.5904C-0.188667 73.5389 1.19611 76.5333 3.75334 76.5333L122.007 76.5334C124.564 76.5334 125.949 73.5389 124.293 71.5904L65.1659 2.0286Z" fill="#505AEF"/>
                    <path d="M65.1659 2.0286C63.9679 0.619175 61.7922 0.619173 60.5942 2.0286L1.4675 71.5904C-0.188667 73.5389 1.19611 76.5333 3.75334 76.5333L122.007 76.5334C124.564 76.5334 125.949 73.5389 124.293 71.5904L65.1659 2.0286Z" fill="url(#paint0_linear_794_459)"/>
                    <defs>
                    <linearGradient id="paint0_linear_794_459" x1="299.887" y1="89.5579" x2="265.837" y2="-107.23" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#505AEF"/>
                    <stop offset="1" stop-color="#9852B6"/>
                    </linearGradient>
                    </defs>
                    </svg>
                    

            </div>
        </div>
    </div>
</div>  